:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 20px;
}

.smiley {
    margin-bottom: 20px;
}

.menuItems {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
}

.menuItem {
    display: block;
    text-decoration: none;
    margin-bottom: 12px;
}