.boardHeader {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tiles {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tileRow {
    font-size: 0;
    vertical-align: top; 
}