<div class="tile" (contextmenu)="$event.preventDefault();" (mousedown)="onMouseDown($event)" [class.isRevealed]="tile.isRevealed">
    <span class="content" [class.isNotRevealed]="!tile.isRevealed">
        <span class="mine" *ngIf="tile.isMine">M</span>
        <span class="adjacentToMine" 
              [class]="adjacencyClass(tile.numAdjacentMines)" 
              *ngIf="!tile.isMine && tile.numAdjacentMines > 0">{{ tile.numAdjacentMines }}</span>
    </span>
    <img src="assets/flag.svg" class="flag" *ngIf="tile.hasFlag" />
</div>