.tile {
    border-style: outset; 
    width: 20px;
    height: 20px;
    background-color: lightgrey;
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
    text-align: center;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}

.tile.isRevealed {
    border: solid 1px;
    line-height: 19px;    
}

.tile:not(.isRevealed):active {
    border-style: none;
}

.content.isNotRevealed {
    display: none;
}

.mine {
    color: red;
}

.adjacentToMine {
    color: blue;
}

.flag {
    color: green;
}